@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border: none;
    text-decoration: none;
}
html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
:root{
    --red:#d63a25;
    --white:#fff;
    --dark:#1e1c2a;
}
body{ 
    color: var(--dark);
    background: var(--white); 
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--white);
    transition: all 0.5s;
    position: fixed;
}
.navigation .logo{
    color: var(--dark);
    font-size: 1.7rem;
    font-weight: 600;
}
.logo span{
    color: var(--red);
}
.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.navigation ul li a{
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 200ms ease-in;
}
.navigation ul li a:hover{
    background-color:transparent;
    border-bottom: 4px solid var(--red);
    color: var(--red);
}
.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}
.menu{
    cursor: pointer;
    display: none;
}
.menu .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(2),
.menu .bar:nth-child(3){
    background: var(--red);
}
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}
.home-text{
    max-width: 45rem;
}
.home-text .text-h4{
    font-size: 2rem;
    color: var(--red);
    margin-bottom: 2.5rem;
    text-transform: uppercase;
}
.home-text .text-h1{
    font-size:  4.5rem;
    margin-bottom: 2.5rem;
    line-height: 6rem;
    text-transform: uppercase;
}
.home-text p{
    font-size:  1.5rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
}
.home-btn{
    padding: 15px 45px;
    background: var(--red);
    cursor: pointer;
    color: var(--white);
    border-radius: 10px;
    font-weight: 500;
    font-size: 1.5rem;
    transition: all 400ms ease-in;
    margin-top: 5rem;
}
.home-btn:hover{
    background-color:transparent;
    border: 2px solid var(--red);  
    color: var(--red);  
}

.home-img img{
    width: 100%;
}
@media (max-width:785px) {
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2){
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateX(-10px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -5px;
        transition: 0.3s;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin: 5px 0;
    }
    /*main*/
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }
    .home .text-h4{
        font-size: 15px;
    }
    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 15px;
    }
    .home-img{
        width: 100%;
    }
}
